main{
    flex: 1;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
}

h1 {
    color: #a0a0a0;
}

h3 {
    color: #666;
}

p {
    color: #666;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
